<ion-modal-view>
	<ion-header-bar class="bar bar-light">
		<h1 class="title"><strong>Ingreso</strong></h1>
		<button class="button button-clear setupview-closebtn" ng-click="CloseModal()"><i class="ion-ios-close-outline"></i></button>	
	</ion-header-bar>
	<ion-content class="welcome-view">
		<form name="signUpPwdForm" ng-submit="Enter()">
			<div class="text-left" style="padding-left:30px; padding-right:30px; margin-top: 30px;">
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label" style="font-size:20px;">
						Ingresa tu Password 
						<span ng-show="signUpPwdForm.signUpPassword.$error.required"><i class="ion-ios-medical" style="font-size:20px; color: red;"></i></span>
					</span>
					<input name="signUpPassword" class="kenuu-input" type="password" placeholder="contraseña" ng-model="viewdata.login.password">
				</label>
			</div>
			<div class="item welcome-item text-center">
				<button class="button button-block button-light welcome-btn">Ingresar</button>
			</div>
		</form>	
	</ion-content>
</ion-modal-view>