<ion-view class="rewarddet-view">
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>    
    <ion-content scroll=true class="rewarddet-content">         
        <div class="item item-avatar item-icon-right rewarddet-commerce">
            <img class="rewarddet-image" ng-src="{{GetCommerceImage(viewdata.selectedReward.EntityImage)}}">

            <h4>{{viewdata.selectedReward.EntityName}}</h4>
            <h2><strong>{{viewdata.selectedReward.SubEntityName}}</strong></h2>
            <div class="icon">
                <div class="rewarddet-mybalance-title">Mi Balance</div>
                <div class="rewarddet-mybalance-label text-center">{{GetCommerceBalance(viewdata.commerce.PointsAvailable)}}</div>
                <img src="./img/arlequin.png" class="rewarddet-arlequin">
            </div>
            <button id="btnGoToCommerce" class="button button-small button-calm rewarddet-commerce-btn" ng-click="GoToCommerce()">Detalle</button>
        </div>

        <div class="rewarddet-rewardheader text-center">
            <img class="rewarddet-image" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{viewdata.selectedReward.Image}}">
            <h2>{{viewdata.selectedReward.Name}}</h2>
            <p>{{viewdata.selectedReward.Description}}</p>
            <!-- <div id="btnRedeem" style="display:none" ng-click="RedeemReward()" class="button button-small button-calm rewarddet-commerce-btn rewarddet-redeem-btn">Canjear!</div> -->
        </div>
        <div class="item item-divider activity-card-item">
            <p><strong class="activity-social-share-title">compártelo!</strong></p>
            <div class="row">
                <div class="col-50 text-center">
                    <i class="ion-social-facebook activity-facebook"></i> facebook
                </div>
                <div class="col-50 text-center">
                    <i class="ion-social-twitter activity-twitter"></i> twitter
                </div>
            </div>
        </div>
        <div class="row rewarddet-pointsinfo-container">
            <div class="col-50 text-center rewarddet-infocell">
                <div class="rewarddet-reqpoints-title">Puntos Requeridos</div>
                <div class="rewarddet-reqpoints-label">{{viewdata.selectedReward.Points}}</div>
                <img src="./img/arlequinsimple.png" class="rewarddet-arlequinsimple">
            </div>
            <div class="col-50 text-center">
                <p class="rewarddet-label-rewardId-title">Id del Premio:</p>
                <p class="rewarddet-label-rewardId">{{viewdata.rewardId}}</p>
                <p class="rewarddet-label-rewardId-title">Válido Hasta:</p>
                <p class="rewarddet-label-rewardId">{{gDate(viewdata.selectedReward.ValidUntil)}}</p>
            </div>
        </div>

        <div class="rewarddet-tnc-container">
            <p><strong>Instrucciones:</strong></p>
            <p class="rewarddet-tnc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="rewarddet-tnc-container">
            <p><strong>Términos y Condiciones:</strong></p>
            <p class="rewarddet-tnc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </ion-content>
</ion-view>