<ion-view>
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-content class="rewards-content gradient-pattern">       
        <!-- <div class="bar bar-sub-header item-input-inset">            
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="viewdata.searchText" placeholder="Buscar">
            </label>
            <button class="button button-clear" ng-click="ShowSideMenu()">
                <i class="icon ion-android-more-horizontal profile-item-icon"></i> 
            </button>        
        </div> -->
        <div class="reward-searchpanel reward-searchpanel-hidden">
            <div class="item item-clear item-icon-right">
                <p><strong>Resultados:</strong></p>                
                <i class="icon ion-android-close" ng-click="CancelSearch()"></i>                
            </div>
            <div class="item item-clear" ng-show="viewdata.searchResults.length == 0">
                <ion-spinner icon="crescent" class="spinner-dark"></ion-spinner>
            </div>
        </div>
        <div id="pleaseWaitSpinner" class="item item-clear text-center pleaseWaitSpinner" ng-show="viewdata.rewards.length == 0">
            <ion-spinner icon="dots" class="spinner"></ion-spinner>
        </div>
        <div id="errorWhenLoadingDiv" class="pleaseWaitSpinner" style="display:none">
            <div class="item item-clear item-icon-right" ng-click="Reload()">
                <p><strong>Oops, no hay premios!</strong></p>
                <p>Haga tap aquí para recargar</p>
                <i class="icon ion-ios-refresh-empty"></i>
            </div>                
        </div>
        <div class="list">                        
            <!-- Using 2 items per line -->
            <span id="rewardsListContainer" class="rewards-list-container" ng-repeat="reward in viewdata.rewards">
                <div class="row rewards-card-row" ng-if="$index<viewdata.rewards.length/2+1">
                    <span ng-repeat="reward in viewdata.rewards">
                        <div class="card rewards-card" ng-if="$index>=2*$parent.$index && $index <= 2*($parent.$index+1)-1" ng-click="OpenRewardDetail(reward)">                            
                            <div class="item item-text-wrap text-left reward-entitycontainer">
                                <div class="row">
                                    <div class="col-40">
                                        <div class="reward-entityicon">
                                            <img ng-show='reward.EntityImage != "" && reward.EntityImage' class="reward-commerceimg" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{reward.EntityImage}}" err-src="./img/empty.png">
                                            <img ng-show='!reward.EntityImage' class="reward-commerceimg" src="./img/empty.png">
                                        </div>        
                                    </div>
                                    <div class="col-60" style="margin-left:2px;">
                                        <p class="reward-entityname">{{reward.EntityName}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item item-text-wrap text-center reward-rewarinfocontainer">
                                <img class="rewarddet-image" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{reward.Image}}">
                                <p class="reward-rewardname">{{reward.Name}}</p>                                
                                <!-- <div class="reward-reached text-center" ng-show="reward.Points <= viewdata.user.PointsAvailable">
                                    <i class="icon ion-ribbon-a"></i>
                                </div> -->
                            </div>
                            
                            <div class="item text-center">
                                <div class="reward-reqpoints-title">Requeridos</div>
                                <div class="reward-reqpoints-label">{{reward.Points}}</div>
                                <img src="./img/arlequinsimple.png" class="reward-arlequinsimple">
                            </div>
                        </div>
                    </span>
                </div>
            </span>

            <!-- Using a single item per line -->
            <!-- <div class="card rewards-card-single-item" ng-repeat="reward in viewdata.rewards" ng-click="OpenRewardDetail(reward)">
                <div class="item item-text-wrap text-left reward-entitycontainer">
                    <div class="row">
                        <div class="col" style="max-width:40px;">
                            <div class="reward-entityicon">
                                <img ng-show='reward.EntityImage != "" && reward.EntityImage' class="reward-commerceimg" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{reward.EntityImage}}" err-src="./img/empty.png">
                                <img ng-show='!reward.EntityImage' class="reward-commerceimg" src="./img/empty.png">
                            </div>        
                        </div>
                        <div class="col" style="margin-left:2px;">
                            <p class="reward-entityname-single-item">{{reward.EntityName}}</p>
                        </div>
                    </div>
                </div>

                <div class="item item-text-wrap text-center reward-rewarinfocontainer">
                    <div class="row">
                        <div class="col col-50">
                            <img class="rewarddet-image" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{reward.Image}}">
                            <p class="reward-rewardname">{{reward.Name}}</p>
                        </div>
                        <div class="col col-50">
                            <div class="reward-reqpoints-title">Pops Requeridos</div>
                            <div class="reward-reqpoints-label">{{reward.Points}}</div>
                            <img src="./img/arlequinsimple.png" class="reward-arlequinsimple">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="reward-bottomspacer"></div>
    </ion-content>
    
    <!-- Side Menu -->
    <div class="reward-sidemenu reward-sidemenu-hidden text-center">
        <div class="button button-clear reward-sidemenu-button" style="margin-top:43px; height:38px !important;" ng-click="HideSideMenu()"><i class="icon ion-android-close"></i></div>
        <div class="list">
            <div class="item item-clear reward-sidemenu-item">
                <p style="position:relative; top:4px;">Todos</p>
            </div>
            <div class="item item-clear reward-sidemenu-item">
                <i class="icon ion-ribbon-a reward-sidemenu-icon"></i>
            </div>
        </div>
    </div>

    <!-- Iconography Section -->
    <!-- <div class="reward-iconography">
        <div class="item">
            <span><i class="icon ion-ribbon-a reward-reached"></i></span> 
            <span class="reward-iconography-label">Premio canjeable!</span>
        </div>
    </div> -->
</ion-view>
