<ion-view class="rewarddet-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>	
  	<ion-content scroll=false class="rewarddet-content">  		
  		<div class="item item-avatar item-icon-right rewarddet-commerce">
  			<img class="rewarddet-image" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{viewdata.selectedReward.EntityImage}}">
  			<h4>{{viewdata.selectedReward.EntityName}}</h4>
  			<h2><strong>{{viewdata.selectedReward.SubEntityName}}</strong></h2>
  			<div class="icon">
  				<div class="rewarddet-mybalance-label text-center">24</div>
  				<img src="./img/arlequin.png" class="rewarddet-arlequin">
  			</div>
  		</div>
  		<div class="item item-divider item-divider item-icon-left">
			<i class="icon ion-ribbon-a profile-item-icon"></i> 
			Premio Seleccionado
    	</div>
  		<div class="item item-avatar item-clear">
  			<img class="rewarddet-image" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{viewdata.selectedReward.Image}}">
			<h2>{{viewdata.selectedReward.Name}}</h2>
			<p>{{viewdata.selectedReward.Description}}</p>
  		</div>
  		<div class="item item-clear">
  			<div class="row">
  				<div class="col-50 text-center">
  					<qr correction-level="'M'" size="90" text="viewdata.rewardId" image="false"></qr>
  				</div>
  				<div class="col-50 text-center">
  					<p class="rewarddet-label-rewardId-title">Id del Premio:</p>
  					<p class="rewarddet-label-rewardId">{{viewdata.rewardId}}</p>
  					<p class="rewarddet-label-rewardId-title">Válido Hasta:</p>
  					<p class="rewarddet-label-rewardId">{{gDate(viewdata.selectedReward.ValidUntil)}}</p>
  				</div>
  			</div>
  		</div>
  		<div class="item item-divider item-divider item-icon-left">
			<i class="icon ion-android-share-alt profile-item-icon"></i> 
			Compártelo
    	</div>
  		<div class="item item-clear" style="padding:0;">
  			<div class="row" style="padding:0; height:100%;">
  				<div class="col-50 text-center button button-clear rewarddet-facebook" style="height:100%;">
  					<i class="icon ion-social-twitter"></i>  					
  				</div>
  				<div class="col-50 text-center button button-clear rewarddet-twitter" style="height:100%;">
  					<i class="icon ion-social-facebook"></i>
  				</div>
  			</div>
  		</div>
  	</ion-content>
</ion-view>