<ion-view class="qrcode-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>	    
  	<ion-content scroll=true class="whatsnew-bg">
        <!-- <div class="item item-clear text-center" style="background-color:transparent;"> 
            <h1 class="whatsnew-contenttitle">Bienvenido!</h1>  
        </div> -->
        <div class="item item-clear text-center" style="background-color:transparent;">            
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <div class="box">
                        <img src="./img/devices.png" style="height: 190px;">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <img src="./img/cupcakes.png" style="height: 190px;">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>

  		<div class="card" style="opacity:0.7">
            <div class="item item-text-wrap">
                <h2><strong class="whatsnew-title">Síguenos!</strong></h2>  
                <p>Encuéntranos y síguenos en nuestras redes sociales...</p>
                <div class="row">
                    <a class="col-50 text-center" ng-click="OpenFacebook()">
                        <p><i class="ion-social-facebook activity-facebook whatsnew-icon"></i></p> 
                        <p>facebook</p>
                        <strong class="whatsnew-url" style="text-decoration: none;">facebook.com/kenuupops</strong>
                    </a>
                    <div class="col-50 text-center" ng-click="OpenTwitter()">
                        <p><i class="ion-social-twitter activity-twitter whatsnew-icon"></i></p> 
                        <p>twitter</p>
                        <strong>@kenuupops</strong>
                    </div>
                </div>
            </div>            
        </div>
  	</ion-content>
</ion-view>