<ion-view class="qrcode-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>	
  	<ion-content scroll=false class="qrcode-content gradient" id="viewcontent-QR">
  		<div class="item qrcode-item text-center">
  			<div class="qrcode-qrcontainer text-center">
  				<h2 class="qrcode-qrtitle">Su identificación</h2>	
  				<img style="margin-top:10px;" class="qrcode-qr" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=Hello%20world&choe=UTF-8">
  				<h2 style="margin-top:10px;">[ <strong class="qrcode-qrlabel">1234-1234-1234-1234</strong> ]</h2>
  			</div>
  		</div>
  	</ion-content>
</ion-view>