<ion-view view-title="">
    <ion-content class="">
        <div class="list">
            <div class="item item-divider">
                <i class="icon ion-ribbon-a profile-item-icon"></i> Premios Disponibles
            </div>
            <a ng-repeat="reward in viewdata.rewards" class="item item-thumbnail-left item-icon-right item-reward item-text-wrap" href="#">
                <img class="rewards-img" ng-src="http://dev.cis-solutions.com/kenuu/imgs/{{reward.EntityImage}}">
                <h2>{{reward.Name}}</h2>
                <div>{{reward.Description}}</div>
                <div class="reward-points-label">({{reward.Points}}/{{viewdata.user.PointsAvailable}})</div>
                <i class="icon ion-android-arrow-dropright reward-detail-icon"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
