<ion-view>
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-content class="activity-content gradient-pattern">
    	<div id="pleaseWaitSpinner" class="item item-clear text-center pleaseWaitSpinner" ng-show="viewdata.rewards.length == 0">
            <ion-spinner icon="dots" class="spinner"></ion-spinner>
        </div>
        <div id="errorWhenLoadingDiv" class="pleaseWaitSpinner" style="display:none">
            <div class="item item-clear item-icon-right" ng-click="Reload()">
                <p><strong>Oops, no hay actividad!</strong></p>
                <p>Haga tap aquí para recargar</p>
                <i class="icon ion-ios-refresh-empty"></i>
            </div>                
        </div>
    </ion-content>
</ion-view>