<ion-view id="viewKenuu" style="display:none">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>	
  	<ion-content scroll=false>  		
  		<div class="row profile-avatar-container">
  			<div class="col-20 text-center profile-avatar-div">
  				<img ng-src="{{getUserImage()}}" class="profile-avatar">
  			</div>
  			<div class="col-70">
  				<h4>{{viewdata.user.FirstName}} {{viewdata.user.LastName}}</h4>
  				<!-- <h4>Alex Ramirez</h4> -->
	      		<p>{{viewdata.user.Email}}</p>
	      		<button class="button button-small button-calm profile-btn" ng-click="GoToProfile()">Ver Perfil</button>	
  			</div>
  		</div>
  		
		<div class="list profile_btn_div">
			<a class="item item-icon-left profile_item" href="#/tab/kenuu/prices">
				<i class="icon ion-ribbon-a profile-item-icon"></i>
				<div class="profile-item-title">premios disponibles</div>
				<div>consulte que premios tiene disponibles</div>
			</a>
			<a class="item item-icon-left profile_item" href="#">
				<i class="icon ion-stats-bars profile-item-icon"></i>
				<div class="profile-item-title">mi actividad</div>
				<div>consulte sus últimos movimientos</div>
			</a>
			<a class="item item-icon-left profile_item" href="#/tab/kenuu/favCommerces">
				<i class="icon ion-heart profile-item-icon"></i>
				<div class="profile-item-title">comercios favoritos</div>
				<div>consulte sus comercios favoritos</div>
			</a>
		</div>
  	</ion-content>
</ion-view>