<ion-view id="viewWelcome" class="welcome-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
	<ion-content scroll="false" class="welcome-content">
		<ion-slide-box show-pager="" on-slide-changed="slideHasChanged($index)">			
			<!-- Welcome Slide #1 -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-center welcome-main-title" style="margin-top:50px;">
					<p class="welcome-title">Bienvenido a <strong>Kenuu!!</strong></p>
				</div>				
				<div class="text-center" style="width:100vw">
					<img id="welcomeimg1" src="./img/devices.png" style="height:198px;">
				</div>
				<div class="welcome-text text-center">					
					<p class="text-center" style="padding:40px; font-size:18px;">
						Es súper fácil!
					</p>
				</div>
				<div class="item welcome-item" style="top:0px;">
					<button ng-click="nextSlide()" class="button button-block button-light welcome-btn">Empecemos!</button>
				</div>
			</ion-slide>
			<!-- Welcome Slide #2 -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-center welcome-main-title" style="margin-top:50px;">
					<p class="welcome-title">Registra tus visitas...</p>
				</div>				
				<div class="text-center" style="width:100vw">
					<img src="./img/cupcakes.png" style="height:198px;">
				</div>
				<div class="welcome-text text-center">					
					<p class="text-center" style="padding:40px; font-size:18px;">
						y gana premios increíbles!
					</p>
				</div>
				<div class="item welcome-item" style="top:0px;">
					<button ng-click="nextSlide()" class="button button-block button-light welcome-btn">Registrate!</button>
				</div>
			</ion-slide>

			<!-- Access Option -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-center welcome-main-title" style="margin-top:50px;">
					<p class="welcome-title">Si no tienes tu cuenta regístrate!</p>
				</div>
				<div class="item welcome-item" style="top:0px;">
					<button ng-click="gotoSlide(3)" class="button button-block button-light welcome-btn">Quiero Registrarme!</button>
				</div>
				<div class="item welcome-item" style="top:0px;">
					<button ng-click="gotoSlide(4)" class="button button-block button-light welcome-btn">...Ya tengo mi cuenta!</button>
				</div>
			</ion-slide>

			<!-- Sign Up Slide -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-left welcome-text">
					<span ng-click="gotoSlide(2)"><i class="ion-android-arrow-back"></i> Volver</span>
				</div>
				<div class="item clear-item text-center welcome-text" style="margin-top:20px; padding-left:30px; padding-right:30px;">
					<strong>Inscríbase</strong>
					<p class="welcome-regular-text">Es muy fácil, sólamente se requiere su correo:</p>
				</div>
				<form ng-submit="SignUp()">
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Email</span>
							<input class="kenuu-input" type="email" placeholder="john@suhr.com">
						</label>
					</div>
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Password</span>
							<input class="kenuu-input" type="password" placeholder="">
						</label>
					</div>
					<div class="item welcome-item" style="top:20px;">
						<button type="submit" class="button button-block button-light welcome-btn">Registrar!</button>
					</div>
				</form>
			</ion-slide>

			<!-- Login Slide -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-left welcome-text">
					<span ng-click="gotoSlide(2)"><i class="ion-android-arrow-back"></i> Volver</span>
				</div>
				<div class="item clear-item text-center welcome-text" style="margin-top:20px; padding-left:30px; padding-right:30px;">
					<strong>Ingrese</strong>
					<p class="welcome-regular-text">Ingrese con su correo y contraseña:</p>
				</div>
				<form ng-submit="Enter()">
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Email <span ng-show="viewdata.email_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i></span></span>
							<input class="kenuu-input" type="email" placeholder="john@suhr.com" ng-model="viewdata.email">
						</label>
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Password <span ng-show="viewdata.password_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i></span></span>
							<input class="kenuu-input" type="password" placeholder="" ng-model="viewdata.password">
						</label>
					</div>
					<div class="item welcome-item" style="top:20px;">
						<button type="submit" class="button button-block button-light welcome-btn">Ingresar!</button>
					</div>
				</form>				
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>