<ion-view id="viewWelcome" class="welcome-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
	<ion-content id="welcome-content" scroll="false" class="welcome-content">
		<ion-slide-box show-pager="" on-slide-changed="slideHasChanged($index)">			
			<!-- Welcome Slide #0 -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-center welcome-main-title" style="margin-top:10px;">
					<p class="welcome-title">Bienvenido a <strong>Kenuu!!</strong></p>
				</div>
				<div class="text-center" style="width:100vw">
					<img id="welcomeimg1" src="./img/devices.png" style="height:148px;">
				</div>
				<div class="item clear-item">
					<div class="row text-center" style="padding:0">
						<div class="col-50" style="padding-right:2px">
							<button class="button button-block welcome-btn" ng-click="gotoSlide(2)">Ingresar</button>
						</div>						
						<div class="col-50" style="padding-left:2px">
							<button class="button button-block welcome-btn" ng-click="gotoSlide(1)">Registrarme</button>
						</div>
					</div>
				</div>
				<div class="item welcome-item text-center" style="top:-40px;">
					<button ng-click="OpenScanner()" class="button button-block button-light welcome-btn">Ya tengo mi ID</button>
				</div>
			</ion-slide>

			<!-- Sign Up Slide -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-left welcome-text">
					<span ng-click="gotoSlide(0)"><i class="ion-android-arrow-back"></i> Volver</span>
				</div>
				<!-- <div class="item clear-item text-center welcome-text" style="margin-top:-10px; padding-left:30px; padding-right:30px;">
					<strong>Inscríbase</strong>
					<p class="welcome-regular-text">Es muy fácil, sólamente se requiere su correo:</p>
				</div> -->
				<form name="signUpForm" ng-submit="SignUp()">
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">
								Email <span ng-show="viewdata.signup.email_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i> Requerido!</span> 
								<span class="form-validation-error-text" ng-show="signUpForm.input.$error.email">
									<i class="ion-android-warning" style="color: red;"></i> Email inválido
								</span>
							</span>
							
							<input class="kenuu-input" name="input" type="email" placeholder="su.nombre@correo.com" ng-model="viewdata.signup.email">
						</label>
					</div>
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Password <span ng-show="viewdata.signup.password_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i> Requerido!</span></span>
							<input class="kenuu-input" type="password" placeholder="" ng-model="viewdata.signup.password">
						</label>
					</div>
					<div class="item welcome-item" style="top:20px;">
						<button type="submit" class="button button-block button-light welcome-btn">Registrar!</button>
					</div>
				</form>
			</ion-slide>

			<!-- Login Slide -->
			<ion-slide class="welcome-slide">
				<div class="item clear-item text-left welcome-text">
					<span ng-click="gotoSlide(0)"><i class="ion-android-arrow-back"></i> Volver</span>
				</div>
				<!-- <div class="item clear-item text-center welcome-text" style="margin-top:-10px; padding-left:30px; padding-right:30px;">
					<strong>Ingrese</strong>
					<p class="welcome-regular-text">Ingrese con su correo y contraseña:</p>
				</div> -->
				<form ng-submit="Enter()">
					<div class="text-left" style="padding-left:30px; padding-right:30px;">					
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Email <span ng-show="viewdata.login.email_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i></span></span>
							<input class="kenuu-input" type="email" placeholder="john@suhr.com" ng-model="viewdata.login.email">
						</label>
						<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
							<span class="input-label">Password <span ng-show="viewdata.login.password_invalid"><i class="ion-android-warning" style="font-size:25px; color: red;"></i></span></span>
							<input class="kenuu-input" type="password" placeholder="" ng-model="viewdata.login.password">
						</label>
					</div>
					<div class="item welcome-item" style="top:20px;">
						<button type="submit" class="button button-block button-light welcome-btn">Ingresar!</button>
					</div>
				</form>				
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>