<ion-view class="commerce-view">
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-content scroll=true class="commerce-content stores-content">        
        <!-- <div class="item item-avatar item-icon-right commerce-commerceheader stores-header" style="z-index:3;">
            <img class="rewarddet-image" ng-src="{{GetCommerceImage(viewdata.selectedCommerce.Image)}}">
            <h4>{{viewdata.selectedCommerce.Name}}</h4>
            <h2><strong>{{viewdata.selectedCommerce.Description}}</strong></h2>
            <div class="icon">
                <div class="rewarddet-mybalance-title">Mi Balance</div>
                <div class="rewarddet-mybalance-label text-center">{{GetCommerceBalance(viewdata.selectedCommerce.PointsAvailable)}}</div>
                <img src="./img/arlequin.png" class="rewarddet-arlequin">
            </div>
        </div> -->
        <div id="pleaseWaitSpinner_Stores" class="item item-clear text-center pleaseWaitSpinner">
            <ion-spinner icon="dots" class="spinner"></ion-spinner>
        </div>
        <div id="errorWhenLoadingDiv" class="pleaseWaitSpinner" style="display:none">
            <div class="item item-clear item-icon-right" ng-click="Reload()">
                <p><strong>Oops, no hay premios!</strong></p>
                <p>Haga tap aquí para recargar</p>
                <i class="icon ion-ios-refresh-empty"></i>
            </div>                
        </div>
        <div id="storesListDiv" class="list stores-list-container" style="display:none">
            <div class="item card stores-card" ng-repeat="store in viewdata.stores" style="padding:0;">
                <div class="item item-text-wrap item-clear" style="padding-top:6px; padding-bottom:6px;">
                    <p class="stores-storename">{{store.Name}}</p>
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col-50">
                            <strong><i class="ion-android-time"></i> horario</strong>
                            <p>{{store.OpeningHours}} - {{store.ClosingHours}}</p>
                        </div>
                        <div class="col-50">
                            <strong><i class="ion-android-call"></i> teléfono</strong>
                            <p>{{store.Phone}}</p>        
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;" ng-click="GoToAddress(store.Address)">
                        <div class="col">
                            <strong><i class="ion-android-pin"></i> dirección</strong>
                            <p>{{store.Address}}</p>                            
                        </div>
                        <div class="col-50 text-center">
                            <img class="stores-map-snapshot" src="https://maps.googleapis.com/maps/api/staticmap?zoom=11&size=140x70&maptype=roadmap&markers={{store.LocationLatitude}},{{store.LocationLongitude}}">
                        </div>
                    </div>                    
                </div>
                <div class="item item-divider activity-card-item">
                    <p><strong class="activity-social-share-title">compártelo!</strong></p>
                    <div class="row">
                        <div class="col-50 text-center">
                            <i class="ion-social-facebook activity-facebook"></i> facebook
                        </div>
                        <div class="col-50 text-center">
                            <i class="ion-social-twitter activity-twitter"></i> twitter
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stores-bottomseparator"></div>
    </ion-content>
</ion-view>