<ion-view id="viewKenuu" style="display:none">
	<!-- <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title> -->	
	<ion-nav-buttons side="right">
		<button class="button button-clear topbar-setupicon" ng-class="getMenuIcon()" ng-click="ShowSetupView()">
		</button>
	</ion-nav-buttons>	
	<ion-content id="mykenuu-content" scroll=true> 
		<ion-refresher
			pulling-text="Hale para refrescar..."
			on-refresh="doRefresh()">
		</ion-refresher> 	

		<div class="item item-text-wrap text-center storedetail-header">
			<div class="storedetail-header-image-wrapper">
				<img class="storedetail-header-image" src="./img/fondociudad.png">
			</div>		
			<div class="storedetail-nameavatar-container">
				<div class="row">
					<div class="col col-70">
						<div class="storedetail-nameavatar-namescontainer">
							<h2>{{viewdata.user.FirstName}} {{viewdata.user.LastName}}</h2>
							<p ng-bind="viewdata.user.Email"></p>							
						</div>						
					</div>
					<div class="col col-30 text-right">
						<img class="commercewr-avatar" src="{{viewdata.user.AvatarMobile}}" ng-click="ChangeProfilePic()">	
					</div>
				</div>
			</div>					
		</div>

		<div class="row storedetail-topbtn-row">
			<div class="col text-center storedetail-top-btn storedetail-top-btn1" ng-click="GoToProfile()">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>Editar Perfil</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="ion-edit"></i></div>
				</div>
			</div>
			<div style="width:7px; background-color:#92318A"></div>
			<a class="col text-center storedetail-top-btn storedetail-top-btn2" href="#/tab/kenuu/activity">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>Historial</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="icon-history"></i></div>
				</div>
			</a>
		</div>

		<!-- <div class="row profile-avatar-container">
			<div class="col-20 text-center profile-avatar-div">
				
				<img id="avatarImg" ng-src="{{viewdata.user.AvatarMobile}}" class="profile-avatar" ng-click="ChangeProfilePic()">
				
			</div>
			<div class="col-70 text-wrap">
				<h4>{{viewdata.user.FirstName}} {{viewdata.user.LastName}}</h4>					
				<p ng-bind="viewdata.user.Email"></p>
				<button class="button button-small button-calm profile-btn" ng-click="GoToProfile()">Mi Info</button>					
			</div>
		</div> -->

		<!-- <div class="item text-center">

			<section class="chart-container">
				<input type="radio" class="radio" name="progress" value="five" id="five">
				<label for="five" class="chart-label">5%</label>

				<input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive" checked>
				<label for="twentyfive" class="chart-label">25%</label>

				<input type="radio" class="radio" name="progress" value="fifty" id="fifty">
				<label for="fifty" class="chart-label">50%</label>

				<input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive">
				<label for="seventyfive" class="chart-label">75%</label>

				<input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">
				<label for="onehundred" class="chart-label">100%</label>

				<div class="progress">
					<div class="progress-bar"></div>
				</div>
			</section>
		</div>		 -->

		<!-- <a class="item item-icon-left item-icon-right item-text-wrap" href="#/tab/kenuu/activity">
			<i class="icon icon-history profile-item-icon"></i>
			<div class="profile-item-title">Mi Actividad Reciente</div>
			<div>Consultar mis últimos movimientos</div>			
			<i class="icon ion-android-more-horizontal back-btn"></i>			
		</a> -->

		<div class="item text-center mykenuu-membersince">
			<p>MIEMBRO DESDE:</p>
			<h2 ng-bind="gDate(viewdata.user.CreateDate)"></h2>
		</div>

		<div id="favcommerces-list" class="list">
            <div class="item item-divider item-text-wrap mykenuu-commercetitle">
                <p>Mis Comercios</p>
            </div>
            <div class="item item-icon-right item-text-wrap" ng-repeat="commerce in viewdata.commerces | orderBy:'TotalVisits'" ng-click="GoToCommerce(commerce)">                                
                <div>
	                <p><strong class="activity-commerce-name">{{commerce.Name}}</strong></p>  

	                <div class="row favcommerce-balancerow">
	                	<div class="col favcommerce-balancecell">                		
	                		<small class="textgrey-text">Visitas:</small>
	                    	<strong class="favcommerce-visits">{{commerce.TotalVisits}}</strong>                     	
	                	</div>
	                	<div class="col favcommerce-balancecell">
	                		<small class="textgrey-text">Pops:</small>
	                		<strong class="favcommerce-visits">{{commerce.PointsAvailable}}</strong> 
	                	</div>
	                </div>
                </div>

                <i class="icon mykenuu-commerceavatar-container">
                	<img class="mykenuu-commerceavatar" ng-src="{{GetCommerceImage(commerce.Image)}}">	
                </i>
            </div>
        </div>
		<div class="bottomspacer"></div>
	</ion-content>
</ion-view>

<ion-view id="viewKenuuError" style="display:none">
	<ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title>	
	<ion-content class="search-content" scroll=false>
		<div class="item item-wrap-text item-clear text-center" style="background-color:transparent;">			
			<p style="margin-left:10px;">Oops, no se puede traer su información...</p>	
		</div>
		<div class="item item-clear text-center" style="background-color:transparent;" ng-click="ReloadData()">
			<i class="ion-ios-refresh-empty" style="font-size:40px;"></i>
		</div>
	</ion-content>
</ion-view>