<ion-view>
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-content class="activity-content" overflow-scroll="true">
    	
        <div id="errorWhenLoadingDiv" class="pleaseWaitSpinner" style="display:none">
            <div class="item item-clear item-icon-right" ng-click="Reload()">
                <p><strong>Oops, no hay actividad!</strong></p>
                <p>Haga tap aquí para recargar</p>
                <i class="icon ion-ios-refresh-empty"></i>
            </div>                
        </div>
        <div id="activityListDiv" class="list" style="display:none">
            <div class="item item-input-inset commercewrstores-search-item">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" ng-model="viewdata.searchtext" placeholder="Buscar">
                </label>
                <button class="button button-clear" ng-show="viewdata.searchtext.length > 0" style="font-size:25px; width:40px; min-width:40px !important;" ng-click="ClearSearch()">
                    <i class="ion-ios-close-empty"></i>
                </button>
            </div>
        	<div class="item item-divider">
        		<p><strong>Mi Actividad</strong></p>
        	</div>
        	<div class="item item-avatar item-text-wrap item-icon-right activity-activityitem" ng-repeat="activity in viewdata.user.activity | filter:search" ng-click="OpenCommerce(activity.EntityID)">
        		<img ng-src="{{GetCommerceImage(activity.Image)}}">
                <p><strong>{{gDate(activity.ActivityDate)}}</strong></p>
        		<p><strong class="activity-commerce-name">{{activity.SubEntityName}}</strong></p>
        		<i class="icon icon-gift activity-redemption" ng-show="activity.ActivityType == 'R'"></i>
        		<i class="icon icon-location activity-checkin" ng-show="activity.ActivityType == 'V'"></i>

        		<div class="" ng-show="activity.ActivityType == 'R'">					
					<p><strong>{{activity.RewardName}}</strong></p>
				</div>
				<div class="">
					<p><strong>{{GetActivityPointsLabel(activity.ActivityType)}}</strong> <span class="activity-points-label">{{activity.Points}}</span></p>
				</div>
        	</div>
        </div>
        <div class="activity-bottomspacer"></div>
    </ion-content>
</ion-view>