<ion-view>
    <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-content class="favcommerces-content" overflow-scroll="true">
        
        <div id="errorWhenLoadingDiv" class="pleaseWaitSpinner" style="display:none">
            <div class="item item-clear item-icon-right" ng-click="Reload()">
                <p><strong>Oops, no hay comercios!</strong></p>
                <p>Haga tap aquí para recargar</p>
                <i class="icon ion-ios-refresh-empty"></i>
            </div>                
        </div>
        <div id="favcommerces-list" class="list" style="display:none">
            <div class="item item-divider">
                <p><strong>Tu actividad</strong></p>
            </div>
            <div class="item item-text-wrap item-icon-right activity-activityitem" ng-repeat="commerce in viewdata.commerces">
                <p>Hace: <strong>{{calcLapse(commerce.LastVisit)}}</strong></p>
                <p><strong class="activity-commerce-name">{{commerce.Name}}</strong></p>                
                <i class="icon icon-location activity-checkin"></i>

                <p>
                    <h3 class="favcommerce-lastvisit-label">
                        <small class="textgrey-text">visitas:</small> 
                    </h3>
                    <h3 class="favcommerce-lastvisit-label">
                        <strong class="favcommerce-visits">{{commerce.TotalVisits}}</strong>
                    </h3>
                </p>
            </div>            
        </div>
        <div class="activity-bottomspacer"></div>
    </ion-content>
</ion-view>
