<ion-view class="qrcode-view">
	<!-- <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>-->
  	<ion-content class="profile-content profileedit-content" id="viewcontent-QR">
  		<ion-refresher
			pulling-text="Deslice para refrescar..."
			on-refresh="doRefresh()">
		</ion-refresher> 
  		<form name="kenuuProfileForm" ng-submit="SaveProfile()">
  			<div class="text-center" style="margin-top:25px;">
  				<h3>EDITAR PERFIL</h3>	
  				<p>Modifique su información</p>
  			</div>
	  		<div class="text-left" style="padding-left:30px; padding-right:30px;">					
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Nombre</span>
					<input class="profileedit-input profileForm-input" ng-model="viewdata.user.name" ng-change="ValMaxLengthField('name',50)" type="text" placeholder="Nombre">
				</label>
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Apellido</span>
					<input class="profileedit-input profileForm-input" ng-model="viewdata.user.lastname" ng-change="ValMaxLengthField('lastname',50)" type="text" placeholder="Apellido">
				</label>
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">
						Teléfono
						<span class="formError" ng-show="kenuuProfileForm.mobilePhone.$error.number">Not valid number!</span>
					</span>
					<input 
						name="mobilePhone"
						class="profileedit-input" 
						ng-model="viewdata.user.MobilePhone" 
						type="tel" 
						placeholder="Número de Teléfono"
       					ng-change="ValMaxLength(15)"
       					onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
				</label>
				<div role="alert">
					<span class="error" ng-show="kenuuProfileForm.mobilePhone.$error.required">
					Required!</span>					
				</div>
			</div>
			<div class="text-left" style="padding-left:30px; padding-right:30px;">					
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Correo Electrónico</span>
					<p>{{viewdata.user.Email}}</p>
				</label>
			</div>
			
			<li class="item item-checkbox checkbox-balanced" style="border:none; margin-left:30px; margin-top:10px;">
				<label class="checkbox">
					<input type="checkbox" ng-click="hideShowChangePassword()" scroll-bottom="btnApply">
				</label>
				Editar Contraseña
			</li>						
			
			<div id="changePasswordDiv" ng-show="showChangePwd" class="text-left" style="padding-left:30px; padding-right:30px;">					
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Contraseña Actual</span>
					<input class="profileedit-input profileForm-input" ng-model="viewdata.user.currentpassword" type="{{inputType}}" placeholder="">
				</label>
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Nueva Contraseña</span>
					<input class="profileedit-input profileForm-input" ng-model="viewdata.user.password" type="{{inputType}}" placeholder="">
				</label>
				<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
					<span class="input-label profileedit-label">Confirmar Nueva Contraseña</span>
					<input class="profileedit-input profileForm-input" ng-model="viewdata.user.passwordconfirmation" type="{{inputType}}" placeholder="">
				</label>

				<li class="item item-checkbox checkbox-balanced item-clear" style="background-color:transparent; margin-top:8px;">
					<label class="checkbox">
					<input ng-model="passwordCheckbox" ng-click="hideShowPassword()" type="checkbox">
					</label>
					<label class="profile-showhidepassword-label" for="checkbox" ng-if="passwordCheckbox">Ocultar Contraseña</label>
					<label class="profile-showhidepassword-label" for="checkbox" ng-if="!passwordCheckbox">Mostrar Contraseña</label> 
				</li>

				<p class="pwdchange-login-pwdmessage text-left" style="margin-top:10px; margin-left:15px; width:90%;">
					* Debe contener como mínimo 8 caracteres y no se permiten espacios en blanco. Ejm: abcdefgh
				</p>
			</div>

			<!--
			<div class="text-left" style="padding-left:30px; padding-right:30px;">	
				<div class="item item-clear sugdob-item text-left">
					<span class="input-label profileedit-label">Género</span>					
				</div>
			</div>
			<div class="row" style="margin-top:-20px; padding-left:10px; padding-right:10px;">
				<div class="col">
					<ion-radio ng-model="viewdata.profilegender" class="sugdob-gender-button" ng-value="'H'">Hombre</ion-radio>
				</div>
				<div class="col">
					<ion-radio ng-model="viewdata.profilegender" class="sugdob-gender-button" ng-value="'M'">Mujer</ion-radio>
				</div>
			</div> -->

			<div id="btnApply" class="item welcome-item" style="top:20px;">
				<button type="submit" class="button button-block button-light welcome-btn profileedit-button">Actualizar Información</button>
			</div>

			<!-- <div class="item welcome-item" style="top:10px;">
				<button type="button" class="button button-block button-light welcome-btn profileedit-button" ng-click="GoToChangePwd()">Cambiar Contraseña</button>
			</div> -->
		</form>
		<div class="profile-bottomspacer"></div>
  	</ion-content>
</ion-view>