<ion-view cache-view="true">
	<ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear ion-map topbar-setupicon" style="font-size:25px;" ng-click="OpenMap()">
		</button>
	</ion-nav-buttons>	
	<ion-content class="nearme-content">
		<div class="item-input-inset nearme-search-item">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="viewdata.searchText" placeholder="Buscar">
			</label>
			<button class="button button-clear" ng-click="ClearSearch()">
				<i class="icon ion-ios-close-outline"></i>
			</button>
		</div>
		<ul class="list">
		    <li class="item item-icon-left nearme-commerce-item" ng-repeat="item in viewdata.searchResults | filter:{Type:'C'} | orderBy:'Name'" ng-click="OpenCommerce(item)">
		    	<i class="icon">
		    		<img class="nearme-commerce-avatar" src="{{GetAvatarImage(item.Image)}}">
		    	</i>
		    	<div class="row">
		    		<div class="col">
		    			<p class="nearme-commerce-name" ng-bind="item.Name">
		    			
		    			</p>
		    		</div>
		    	</div>		    	
		    	<div class="row">		    		
		    		<div class="col text-left nearme-commerce-sublabel"><i class="icon-location"></i> 0 Km</div>
		    	</div>
		    </li>
		</ul>
	</ion-content>		
</ion-view>