<ion-view cache-view="true">
	<ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title>
	<ion-content class="commercewr-content" overflow-scroll="true">
		<div class="item text-center commercewr-header">			
			<h2><strong>{{viewdata.commerce.Name}}</strong></h2>	
			<div>
				<img class="commercewr-avatar" src="{{GetAvatarImage(viewdata.commerce.Image)}}">
			</div>
			<div class="commercewr-gobtn" ng-click="OpenMaps(viewdata.commerce.LocationLatitude,viewdata.commerce.LocationLongitude)">
				<p class="commercewr-gobtn-text"><i class="icon-location" style="font-size:20px;"></i></p>
			</div>
			<div class="commercewr-storesbtn" ng-click="OpenStores()">
				<p class="commercewr-storesbtn-text">Tiendas</p>
			</div>		
		</div>
		<div class="item commercewr-detail-header-item ">
			<div class="row">
				<div class="col commercewr-detail-title">
					<strong style="margin-left:-5px">Dirección</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-100 item-text-wrap">
					{{viewdata.commerce.Address}}
				</div>
			</div>
			<div class="row" style="margin-top:10px;">
				<div class="col-50 commercewr-detail-title">
					<strong>Teléfono</strong>
				</div>
				<div class="col-50 commercewr-detail-title">
					<strong>Contacto</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-50">
					{{viewdata.commerce.Phone}}
				</div>
				<div class="col-50 item-text-wrap">
					{{viewdata.commerce.Email}}
				</div>
			</div>
		</div>
		<div class="item commercewr-detail-pops-item" style="padding:0">

			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Tu Balance</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVal(viewdata.commerce.PointsAvailable)}}
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Visitas</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVisitCount(viewdata.commerce)}}
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Ultima Visita</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points item-text-wrap" ng-bind="GetLastVisitDate(viewdata.commerce)" style="font-size:16px;">								
							</strong>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<ul class="list">
		    <div class="item item-divider commercewr-detail-title">
				<strong style="margin-left:5px">Premios</strong>
			</div>
			<li class="item" ng-show="viewdata.rewards.length == 0">
				No hay premios disponibles
			</li>
		    <li ng-show="viewdata.rewards.length > 0" class="item item-avatar item-icon-right item-text-wrap commercewr-detail-item" collection-repeat="item in viewdata.rewards | orderBy:'Points'" ng-click="OpenRewardDetail(item)">		    	
		    	<img ng-show="item.Image != null" src="{{viewdata.imageserverurl + item.Image}}">		    	
		    	
		    	<div>
			    	<strong><h2 ng-bind="item.Name"></h2></strong>

			    	<p ng-show="viewdata.commerce.PointsAvailable >= item.Points">		    		
			    		<strong ng-bind="item.Points"></strong> de <strong ng-bind="item.Points"></strong> <i class="ion-ios-checkmark commercewr-reward-available"></i>
			    	</p>		    	
			    	<p ng-show="viewdata.commerce.PointsAvailable < item.Points">
			    		<strong ng-bind="GetAvailablePoints(viewdata.commerce.PointsAvailable)"></strong> de <strong ng-bind="item.Points"></strong> 
			    	</p>
			    	<p ng-show="!item.AvailableAllStores">Exclusivo para: <strong ng-bind="item.SubEntityName" class="commercewr-store-label"></strong></p>
			    	<p>&nbsp;</p>
		    	</div>

		    	<i class="icon" ng-class="GetPointsClass(viewdata.commerce.PointsAvailable, item.Points)" style="margin-right:5px;" ng-bind="item.Points"></i>		    	
		    </li>
		</ul>
	</ion-content>		
</ion-view>