<ion-view cache-view="true">
	<!-- <ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title> -->
	<ion-content class="homeTabsContent" scroll="false">
		<map on-create="mapCreated(map)" data-tap-disabled="true" style="width: 100%; height: 100%; position: absolute;">
		</map>
		</ion-content>
		<!-- <a class="roundButton red1" href="#/kenuu/tab/map/places" style="right: 73px;text-decoration: none;"><i class="icon ion-ios7-pricetags"></i></a> -->
		<a class="map-centeronme-button roundButton text-center" ng-click="centerOnMe()">
			<i class="ion-android-locate map-centeronme-icon"></i>
		</a>
</ion-view>