<ion-view cache-view="true">
	<!-- <ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
		<strong style="color:#333333">Cerca de Mí</strong>
	</ion-nav-title> -->
	<ion-nav-buttons side="right">
		<button class="button button-clear ion-android-locate topbar-setupicon" style="font-size:25px;" ng-click="OpenMap()">			
		</button>
	</ion-nav-buttons>
	<ion-content id="nearme-content" class="nearme-content" overflow-scroll="true">

		<ion-refresher
			pulling-text="Deslice para refrescar..."
			on-refresh="ReloadList()"
			style="color:white !important;">
		</ion-refresher>
		
		<div class="item-input-inset nearme-search-item">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input id="searchText" ng-enter="SearchFieldEnterPressed()" type="search" ng-blur="SearchBlur()" ng-model="viewdata.searchText" placeholder="Buscar">
			</label>
			<button id="btnClearSearch" class="button button-clear" ng-click="ClearSearch()" style="font-size:25px; width:40px; min-width:40px !important; display:none">
				<i class="icon ion-ios-close-empty"></i>
			</button>
		</div>
		
		<!--  ng-show="viewdata.locationSet" -->
		<div class="item-input-inset nearme-search-item">
			<div class="row">				
				<div class="col-50 text-center">
					<button class="button button-clear nearme-search-item-btn" style="color: white !important;" ng-click="ChangeKilometers(0)" ng-class="{borderKilometer:viewdata.kilometers==0}">Todos</button>
				</div>				
				<div class="col-50 text-center">
					<button class="button button-clear nearme-search-item-btn" style="color: white !important;" ng-click="ChangeKilometers(25)"  ng-class="{borderKilometer:viewdata.kilometers==25}">Alrededor</button>
				</div>
			</div>
		</div>
		
		<div id="locationMessage" style="display:none; border: none;" ng-click="ClearLocationMessage()" class="item nearme-nolocationitem item-icon-right item-text-wrap" ng-show="!viewdata.locationSet && viewdata.showLocationMessage">
			<img class="icon" src="./img/placeholder.png" style="height:60px; width:auto; top:5px;">
			<p><strong>Conecte los servicios de ubicación para filtrar mejor las tiendas.</strong></p>
		</div>

		<div class="item text-center searching-location-spinner" ng-show="viewdata.showGettingLocationSpinner">
			<ion-spinner class="spinner-energized" icon="{{getSpinnerByPlatform()}}"></ion-spinner><p>Buscando su ubicación </p>
		</div>

		<ion-list id="nearme-list">
        	<ion-item class="item-icon-right nearme-commerce-item" ng-repeat="item in viewdata.searchResults | orderBy:viewdata.orderList track by $index" item="item" ng-click="OpenStore(item)">
        		<div>
                    <p><strong class="activity-commerce-name" ng-bind="item.Name"></strong></p>  
                    <div class="row" ng-show="viewdata.showLocationInfoLabel">
                    	<div class="col text-left nearme-commerce-sublabel">
                    		<i class="icon-location newarme-locationicon"></i> 
                    		<span class="newarme-locationdistance" ng-bind="formatDistance(item.Distance)"></span>	 Km                    		
                    	</div>
                    </div>
                </div>
        		<i class="icon mykenuu-commerceavatar-container">
                    <img class="mykenuu-commerceavatar" ng-src="{{GetAvatarImage(item.Image)}}">  
                </i>   	
        	</ion-item>
        	<ion-item class="item text-center" ng-show="viewdata.showLoadMoreButton" ng-click="SetActivityPageToShow()">
                <span ng-bind="viewdata.loadMoreButtonMessage"></span>                    
            </ion-item>
      	</ion-list>      	
      	
      	<!-- <ion-infinite-scroll immediate-check="false" on-infinite="GetMoreStores()" distance="20%">
      	</ion-infinite-scroll> -->
	</ion-content>
	<a class="nearme-button roundButton text-center" style="display:none" ng-click="DoSearch()">
		<i class="ion-android-sync nearme-icon"></i>
	</a>
</ion-view>