<ion-view cache-view="true">
	<!-- <ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title> -->
	<ion-content id="storedetail-content" class="commercewr-content" overflow-scroll="true">

		<ion-refresher
			pulling-text="Deslice para refrescar..."
			on-refresh="ReloadStoreInfo()">
		</ion-refresher> 

		<div class="item item-text-wrap text-center storedetail-header">
			<div class="storedetail-header-image-wrapper">
				<img class="storedetail-header-image" src="./img/fondociudad.png">
			</div>		
			<div class="storedetail-nameavatar-container">
				<div class="row">
					<div class="col col-70">
						<div class="storedetail-nameavatar-namescontainer">
							<h2>{{viewdata.store.Name}}</h2>
							<p ng-bind="gTime(viewdata.store.OpeningHours, viewdata.store.ClosingHours)"></p>
							<p ng-switch on="isOpenForBusiness(viewdata.store.OpeningHours, viewdata.store.ClosingHours)">								
							    <span ng-switch-when="Abierto" class="store-open">
							    	Abierto 
							    </span>
							    <span ng-switch-default class="store-closed">
							        Cerrado
							    </span>								
							</p>
						</div>						
					</div>
					<div class="col col-30 text-right">
						<img class="commercewr-avatar" src="{{GetAvatarImage(viewdata.store.Image)}}">	
					</div>
				</div>
			</div>					
		</div>
		<!-- <div class="item">
			<p ng-bind="viewdata.deviceInfo"></p>
			<button class="button button-block button-light welcome-btn" ng-click="StartScan()">Chequéese</button>
		</div> -->
	
		<div class="row storedetail-topbtn-row">
			<div class="col text-center storedetail-top-btn storedetail-top-btn1" ng-click="OpenMaps(viewdata.store.LocationLatitude,viewdata.store.LocationLongitude)">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>¿Cómo llegar?</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="ion-map"></i></div>
				</div>
			</div>
			<div style="width:7px; background-color:#92318A"></div>
			<div class="col text-center storedetail-top-btn storedetail-top-btn2" ng-click="OpenCommerce(viewdata.store.EntityID)">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>Ver Comercio</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="icon-shop"></i></div>
				</div>
			</div>
		</div>
		
		<div class="item commercewr-detail-pops-item" style="padding:0">
			<div class="row">				
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>POPS</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">{{GetVal(viewdata.store.PointsAvailable)}}</strong> 
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>ÚLTIMA VISITA</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points item-text-wrap" ng-bind="GetLastVisitDate(viewdata.store)" style="font-size:16px;">								
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>VISITAS</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVisitCount(viewdata.store)}}
							</strong>
						</div>
					</div>
				</div>				
			</div>			
		</div>
		<div class="item item-text-wrap item-icon-left storedetail-address" ng-click="OpenMaps(viewdata.store.LocationLatitude,viewdata.store.LocationLongitude)">
			<i class="icon icon-location storedetail-locationicon"></i>
			<p>{{viewdata.store.Address}}</p>
		</div>
		<div class="row storedetail-contactinfo-row">
			<div class="col storedetail-contactinfo-cell" ng-click="DoPhoneCall(viewdata.store.Phone)"><i class="icon ion-ios-telephone-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="EmailTo(viewdata.store.Email)"><i class="icon ion-ios-email-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="OpenPage(viewdata.store.FacebookPage)"><i class="icon ion-social-facebook-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="OpenPage(viewdata.store.TwitterPage)"><i class="icon ion-social-twitter-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="OpenShareMenu()"><i class="icon ion-android-share-alt"></i></div>
		</div>

		<ul class="list" style="background-color:#eeeeee !important; margin-top:17px;">
		    <div class="item item-divider storedetail-list-title">
				<p style="margin-left:5px">Premios</p>
			</div>
			<li class="item" ng-show="viewdata.rewards.length == 0">
				No hay premios disponibles
			</li>
			<li ng-show="viewdata.rewards.length > 0" class="item storedetail-reward-item" ng-repeat="item in viewdata.rewards | orderBy:'Points'" ng-click="OpenRewardDetail(item)">
				<div class="row storedetail-rewarditem-row">
					<div class="col col-50">
						<div class="storedetail-reward-names">
							<h2 ng-bind="item.Name"></h2>
							<p ng-bind="item.Description"></p>
						</div>
					</div>
					<div class="col col-20 text-center storedetail-rewardpoints">
						<div class="storedetail-reward-pointscontainer">
							<h2 ng-bind="item.Points"></h2>
							<p>pops</p>	
						</div>
					</div>
					<div class="col col-30 storedetail-rewardimage-container">
						<img ng-src="{{GetRewardImage(item.Image)}}">
					</div>
				</div>
			</li>
		</ul>
	</ion-content>		
</ion-view>