<ion-view cache-view="true">
	<!-- <ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title> -->
	<ion-content id="commercewr-content" class="commercewr-content" overflow-scroll="true">
		
		<ion-refresher
			pulling-text="Deslice para refrescar..."
			on-refresh="ReloadCommerceInfo()">
		</ion-refresher>

		<div class="item item-text-wrap text-center storedetail-header">
			<div class="storedetail-header-image-wrapper">
				<img class="storedetail-header-image" src="./img/fondociudad.png">
			</div>		
			<div class="storedetail-nameavatar-container">
				<div class="row">
					<div class="col col-70">
						<div class="storedetail-nameavatar-namescontainer">
							<h2>{{viewdata.commerce.Name}}</h2>
						</div>						
					</div>
					<div class="col col-30 text-right">
						<img class="commercewr-avatar" src="{{GetAvatarImage(viewdata.commerce.Image)}}">	
					</div>
				</div>
			</div>					
		</div>

		<div class="row storedetail-topbtn-row">
			<div class="col text-center storedetail-top-btn storedetail-top-btn1" ng-click="OpenMaps(viewdata.commerce.LocationLatitude,viewdata.commerce.LocationLongitude)">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>¿Cómo llegar?</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="ion-map"></i></div>
				</div>
			</div>
			<div style="width:7px; background-color:#92318A"></div>
			<div class="col text-center storedetail-top-btn storedetail-top-btn2" ng-click="OpenStores()">
				<div class="row">
					<div class="col col-80 storedetail-top-btn-label"><p>Ver Tiendas</p></div>
					<div class="col col-20 storedetail-top-btn-icon"><i class="icon-shop"></i></div>
				</div>
			</div>
		</div>

		<div class="item commercewr-detail-pops-item" style="padding:0">
			<div class="row">				
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>POPS</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">{{GetVal(viewdata.commerce.PointsAvailable)}}</strong> 
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>ÚLTIMA VISITA</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points item-text-wrap" ng-bind="GetLastVisitDate(viewdata.commerce)" style="font-size:16px;">								
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>VISITAS</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVisitCount(viewdata.commerce)}}
							</strong>
						</div>
					</div>
				</div>				
			</div>			
		</div>
		<div class="item item-text-wrap item-icon-left storedetail-address" ng-click="OpenMaps(viewdata.commerce.LocationLatitude,viewdata.commerce.LocationLongitude)">
			<i class="icon icon-location storedetail-locationicon"></i>
			<p>{{viewdata.commerce.Address}}</p>
		</div>
		<div class="row storedetail-contactinfo-row">
			<div class="col storedetail-contactinfo-cell" ng-click="DoPhoneCall(viewdata.commerce.Phone)"><i class="icon ion-ios-telephone-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="EmailTo(viewdata.commerce.Email)"><i class="icon ion-ios-email-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="OpenPage(viewdata.commerce.FacebookPage)"><i class="icon ion-social-facebook-outline"></i></div>
			<div class="col storedetail-contactinfo-cell" ng-click="OpenPage(viewdata.commerce.TwitterPage)"><i class="icon ion-social-twitter-outline"></i></div>
			<div class="col storedetail-contactinfo-cell"><i class="icon ion-android-share-alt"></i></div>
		</div>

		<div class="md-modal md-effect-7" id="modal-msgbox-login">
			<div class="md-content">
				<h3>{{viewdata.msgbox.title}}</h3>
				<div>
					<p>{{viewdata.msgbox.message}}</p>
					<button class="md-close">{{viewdata.msgbox.buttontext}}</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div><!-- the overlay element -->

		<ul class="list" style="background-color:#eeeeee !important; margin-top:17px;">
		    <div class="item item-divider storedetail-list-title">
				<p style="margin-left:5px">Premios</p>
			</div>
			<li class="item" ng-show="viewdata.rewards.length == 0">
				No hay premios disponibles
			</li>
			<li ng-show="viewdata.rewards.length > 0" class="item storedetail-reward-item" collection-repeat="item in viewdata.rewards | orderBy:'Points'" ng-click="OpenRewardDetail(item)">
				<div class="row storedetail-rewarditem-row">
					<div class="col col-50">
						<div class="storedetail-reward-names">
							<h2 ng-bind="item.Name"></h2>
							<p ng-bind="item.Description"></p>
						</div>
					</div>
					<div class="col col-20 text-center storedetail-rewardpoints">
						<div class="storedetail-reward-pointscontainer">
							<h2 ng-bind="item.Points"></h2>
							<p>pops</p>	
						</div>
					</div>
					<div class="col col-30 storedetail-rewardimage-container">
						<img ng-src="{{GetRewardImage(item.Image)}}">
					</div>
				</div>
			</li>
		</ul>
	</ion-content>		
</ion-view>