<ion-view cache-view="true">
	<ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear ion-map topbar-setupicon" style="font-size:25px;" ng-click="OpenMap()">
		</button>
	</ion-nav-buttons>
	<ion-content class="nearme-content" overflow-scroll="true">
		<div class="item-input-inset nearme-search-item">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="viewdata.searchText" placeholder="Buscar">
			</label>
			<button class="button button-clear" ng-click="ClearSearch()" ng-show="viewdata.searchText.length > 0" style="font-size:25px; width:40px; min-width:40px !important;">
				<i class="icon ion-ios-close-empty"></i>
			</button>
		</div>
		<div class="item-input-inset nearme-search-item" ng-show="viewdata.locationSet">
			<div class="row">
				<style type="text/css" media="screen">
					.borderKilometer {
						border-bottom: 2px solid #FFFFFF !important;
					}
				</style>
				<div class="col-33 text-center">
					<button class="button button-clear" ng-click="changeKilometers(5)" ng-class="{borderKilometer:viewdata.kilometers==5}">5Km</button>
				</div>
				<div class="col-33 text-center">
					<button class="button button-clear" ng-click="changeKilometers(10)" ng-class="{borderKilometer:viewdata.kilometers==10}">10Km</button>
				</div>
				<div class="col-33 text-center">
					<button class="button button-clear" ng-click="changeKilometers(25)"  ng-class="{borderKilometer:viewdata.kilometers==25}">25Km</button>
				</div>
			</div>
		</div>
		<ion-refresher pulling-text="" on-refresh="doRefresh()"></ion-refresher>
		<ion-list id="nearme-list">
        	<ion-item class="item-icon-left nearme-commerce-item" ng-repeat="item in viewdata.searchResults | orderBy:'Distance'" item="item" ng-click="OpenCommerce(item)">
        		<i class="icon">
		    		<img class="nearme-commerce-avatar" src="{{GetAvatarImage(item.Image)}}">
		    	</i>
          		<div class="row">
		    		<div class="col">
		    			<p class="nearme-commerce-name" ng-bind="item.Name">
		    			</p>		    			
		    		</div>
		    	</div>		
		    	<div class="row" ng-show="viewdata.locationSet">
		    		<div class="col text-left nearme-commerce-sublabel"><i class="icon-location"></i> <span ng-bind="formatDistance(item.Distance)"></span>	 Km</div>
		    	</div>    	
        	</ion-item>        	
      	</ion-list>      	
      	
      	<ion-infinite-scroll immediate-check="false" on-infinite="getMoreStores(viewdata.storePage)" distance="20%">
      	</ion-infinite-scroll>
	</ion-content>
	<a class="nearme-button roundButton text-center" style="display:none" ng-click="DoSearch()">
		<i class="ion-android-sync nearme-icon"></i>
	</a>
</ion-view>