<ion-view cache-view="true">
	<ion-nav-title>
		<img src="img/kenuulogo.png" alt="" class="top-bar-logo">
	</ion-nav-title>
	<ion-content class="commercewr-content" overflow-scroll="true">
		<div class="item text-center commercewr-header">			
			<h2><strong>{{viewdata.store.Name}}</strong></h2>	
			<div>
				<img class="commercewr-avatar" src="{{GetAvatarImage(viewdata.store.Image)}}">
			</div>
			<div class="commercewr-gobtn" ng-click="OpenMaps(viewdata.store.LocationLatitude,viewdata.store.LocationLongitude)">
				<p class="commercewr-gobtn-text"><i class="icon-location" style="font-size:20px;"></i></p>
			</div>
			<div class="commercewr-storesbtn" ng-click="OpenCommerce(viewdata.store.EntityID)">
				<p class="commercewr-storesbtn-text">Comercio</p>
			</div>		
		</div>
		<div class="item commercewr-detail-pops-item" style="padding:0">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Mi Balance</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVal(viewdata.store.PointsAvailable)}}
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Visitas</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points">
								{{GetVisitCount(viewdata.store)}}
							</strong>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col commercewr-detail-title text-center"><strong>Última Visita</strong></div>
					</div>
					<div class="row">
						<div class="col text-center">
							<strong class="commercewr-detail-balance commercewr-points item-text-wrap" ng-bind="GetLastVisitDate(viewdata.store)" style="font-size:16px;">								
							</strong>
						</div>
					</div>
				</div>
			</div>			
		</div>

		<div class="list">
			<div class="item item-text-wrap item-icon-left">
				<i class="icon icon-location"></i>
				<p>{{viewdata.store.Address}}</p>
			</div>
			<div class="item item-text-wrap item-icon-left">
				<i class="icon icon-mail"></i>
				<p>{{viewdata.store.Email}}</p>
			</div>
			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-ios-telephone-outline"></i>
				<p>{{viewdata.store.Phone}}</p>
			</div>
			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-social-facebook-outline"></i>
				<p>{{viewdata.store.FacebookPage}}</p>
			</div>
			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-social-twitter-outline"></i>
				<p>{{viewdata.store.TwitterPage}}</p>
			</div>
		</div>
		
		<ul class="list" style="margin-top:-21px; background-color:#eeeeee !important;">
		    <div class="item item-divider commercewr-detail-title">
				<strong style="margin-left:5px">Compartir:</strong>
			</div>		
			<div class="item">
				<div class="row">
					<div class="col text-center commerce-social-fb-font" ng-click="ShareViaFacebook(viewdata.commerce)">
						<i class="ion-social-facebook"></i> facebook
					</div>
					<div class="col text-center commerce-social-twitter-font" ng-click="ShareViaTwitter(viewdata.commerce)">
						<i class="ion-social-twitter"></i> twitter
					</div>
				</div>
			</div>
		</ul>

		<ul class="list" style="margin-top:-21px; background-color:#eeeeee !important;">
		    <div class="item item-divider commercewr-detail-title">
				<strong style="margin-left:5px">Premios</strong>
			</div>
			<li class="item" ng-show="viewdata.rewards.length == 0">
				No hay premios disponibles
			</li>
		    <li ng-show="viewdata.rewards.length > 0" class="item item-avatar item-icon-right item-text-wrap commercewr-detail-item" collection-repeat="item in viewdata.rewards | orderBy:'Points'" ng-click="OpenRewardDetail(item)">		    	
		    	<img ng-src="{{GetRewardImage(item.Image)}}">
		    	<div>
			    	<strong><h2 ng-bind="item.Name"></h2></strong>

			    	<p ng-show="GetAvailablePoints(viewdata.store) >= item.Points">		    		
			    		¡¡Cuento con los suficientes <strong class="commercewr-popslabel">POPS</strong> para canjear!!
			    	</p>		    	
			    	<p ng-show="GetAvailablePoints(viewdata.store) < item.Points">
			    		<strong ng-bind="GetAvailablePoints(viewdata.store)"></strong> de <strong ng-bind="item.Points"></strong> 
			    	</p>
			    	<p ng-show="!item.AvailableAllStores">
			    		Exclusivo para: <strong ng-bind="item.SubEntityName" class="commercewr-store-label"></strong>
			    	</p>
			    	<p>&nbsp;</p>
			    	
			    	<div ng-class="GetRewardsProgressClass(GetAvailablePoints(viewdata.store), item.Points)" ng-style="GetRewardProcessStyle(GetAvailablePoints(viewdata.store), item.Points)"></div>
		    	</div>

		    	<i class="icon" ng-class="GetPointsClass(GetAvailablePoints(viewdata.store), item.Points)" style="margin-right:5px;" ng-bind="item.Points"></i>		    	
		    </li>
		</ul>
	</ion-content>		
</ion-view>