<ion-view class="qrcode-view">
	<!-- <ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title> -->	
  	<ion-content scroll=false class="noconnection-content">
        <div class="item item-text-wrap text-center item-wrap-text item-clear">
            <strong>Oops, no hay conexión!</strong>
            <p>Mientras no se tenga conexión a internet, no se puede ingresar. Conéctese a Internet y el App automáticamente lo guiará. </p>
        </div>
  	</ion-content>
</ion-view>