<ion-modal-view>
	<ion-header-bar class="bar bar-light">
		<h1 class="title"><strong>Password</strong></h1>
		<!-- <button class="button button-clear setupview-closebtn" ng-click="CloseSetup()"><i class="ion-ios-close-outline"></i></button>	 -->
	</ion-header-bar>
	<ion-content class="setupview-content pwd-recovery-content">		
		<div class="list">
			<div class="item item-text-wrap item-clear text-center pwd-recovery-item">
				<i class="icon-like" style="font-size:80px;"></i>
				<p style="margin-top:30px;"><strong>¡Listo!</strong></p>
				<p style="margin-top:10px;">Se ha enviado un correo electrónico con las instrucciones de cómo cambiar su contraseña.</p>
			</div>
			<div class="item welcome-item text-center">
				<button ng-click="CloseModal()" class="button button-block button-light welcome-btn">Ok</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>