<ion-modal-view>
	<ion-header-bar class="bar bar-light">
		<h1 class="title" ng-bind="viewdata.selectedreward.Name"></h1>
		<button class="button button-clear setupview-closebtn" ng-click="CloseRewardDetailModal()"><i class="ion-ios-close-outline"></i></button>	
	</ion-header-bar>
	<ion-content class="reward-detail-content">
		<div class="list">
			<div class="item text-center reward-detail-avatar-item">
				<img class="reward-detail-avatar" ng-src="{{GetRewardImage(viewdata.selectedreward.Image)}}">
			</div>
			<div class="item item-text-wrap reward-detail-baseitem item-icon-right reward-detail-header-item">
				<strong class="reward-detail-title">Pops Requeridos</strong>				
				<i class="icon reward-detail-points" style="margin-right:5px;" ng-bind="viewdata.selectedreward.Points"></i>				
			</div>
			<div class="item item-text-wrap reward-detail-baseitem">
				<strong class="reward-detail-title">Descripción</strong>
				<p ng-bind="viewdata.selectedreward.Description"></p>
			</div>
			<div class="item item-text-wrap reward-detail-baseitem" ng-show="RewardDetailDatesAvailable(viewdata.selectedreward.ValidFrom, viewdata.selectedreward.ValidUntil)">
				<strong class="reward-detail-title">Validez</strong>
				<p class="reward-detail-validity">
				<strong><span ng-bind="gDate(viewdata.selectedreward.ValidFrom)"></span></strong>
				<span> - </span>
				<strong><span ng-bind="gDate(viewdata.selectedreward.ValidUntil)"></span></strong>
				</p>

				<strong class="reward-detail-title">Horario</strong>
				<p class="reward-detail-validity">
				<strong><span ng-bind="gTime(viewdata.selectedreward.InitialHour, viewdata.selectedreward.EndingHour)"></span></strong>				
				</p>
			</div>
			<div class="item item-text-wrap reward-detail-baseitem">
				<strong class="reward-detail-title">Instrucciones</strong>
				<p ng-bind="viewdata.selectedreward.Instructions"></p>
			</div>
			<div class="item item-text-wrap reward-detail-baseitem">
				<strong class="reward-detail-title">Términos y Condiciones</strong>
				<p ng-bind="viewdata.selectedreward.TermsAndConditions"></p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>