<ion-modal-view>
	<ion-header-bar class="bar bar-light">
		<h1 class="title"><img src="img/kenuulogo.png" alt="" class="top-bar-logo"></h1>
		<button class="button button-clear setupview-closebtn" ng-click="CloseSetup()"><i class="ion-ios-close-outline"></i></button>	
	</ion-header-bar>
	<ion-content class="setupview-content">		
		<div class="list">
			<div class="item item-icon-left item-text-wrap item-clear">
				<i class="icon ion-ios-information setupview-icon"></i>
				<p><strong>Kenuu</strong></p>
				<p>Version: <strong>{{viewdata.appVersion}}</strong></p>
			</div>

			<!-- <ion-toggle class="item item-toggle item-text-wrap" ng-model="viewdata.registerForNotifications" ng-change="PushNotificationsToggle()">
				<span>
					<strong>Recibir Notificaciones</strong>
					<p>Para poder recibir mensajes PUSH en su dispositivo.</p>
				</span>
			</ion-toggle> -->

			<div class="item item-icon-left item-icon-right item-text-wrap item-clear" style="border-top:1px solid #ddd !important" ng-click="ContactUs()">
				<i class="icon icon-mail setupview-icon"></i>
				<p><strong>Ayúdenos a mejorar!</strong></p>
				<p>Si requiere ayuda o quiere hacer algún comentario, por favor escríbanos por correo electrónico.</p>
				<strong>Contactar por correo electrónico</strong>
				<i class="icon ion-android-more-horizontal"></i>
			</div>
			<div class="item item-icon-left item-icon-right item-text-wrap item-clear" ng-click="OpenSiteUrl('http://www.kenuupops.com')">
				<i class="icon ion-android-globe setupview-icon"></i>
				<p>¿Quiere saber más?</p>
				<strong>Visite nuestro sitio web <span class="kenuu-link">www.kenuupops.com</span> para obtener más información</strong>
				<i class="icon ion-android-more-horizontal"></i>
			</div>
			
			<!-- <div class="item item-icon-left item-icon-right item-text-wrap item-clear" ng-click="RegisterDevice()">
				<strong>Register Device</strong>
			</div> -->
			<div class="item item-icon-left item-text-wrap item-clear" ng-click="DoLogout()">
				<i class="icon ion-ios-close setupview-icon"></i>
				<p>Cerrar Sesión</p>
				<strong>Cerrar la sesión actual para cambiar de usuario</strong>
				
			</div>
		</div>
	</ion-content>
</ion-modal-view>