<ion-modal-view>
	<ion-header-bar class="bar bar-light">
		<h1 class="title"><strong>Configuración</strong></h1>
		<button class="button button-clear setupview-closebtn" ng-click="CloseSetup()"><i class="ion-ios-close-outline"></i></button>	
	</ion-header-bar>
	<ion-content class="setupview-content">		
		<div class="list">
			<div class="item item-icon-left item-text-wrap item-clear">
				<i class="icon ion-ios-information setupview-icon"></i>
				<p><strong>Kenuu</strong></p>
				<p>Version: <strong>{{viewdata.appVersion}}</strong></p>
			</div>
			<div class="item item-icon-left item-icon-right item-text-wrap item-clear" ng-click="ContactUs()">
				<i class="icon icon-mail setupview-icon"></i>
				<p>¿Necesita ayuda?</p>
				<strong>Contactar por correo electrónico</strong>
				<i class="icon ion-android-more-horizontal"></i>
			</div>
		</div>
	</ion-content>
</ion-modal-view>