<ion-view id="viewWelcome" class="">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
    <ion-nav-buttons side="right">
		<button class="button button-clear icon-right ion-android-arrow-forward sugdob-top-btn" ng-click="Skip()">
			Saltar
		</button>
	</ion-nav-buttons>	
	<ion-content id="" scroll="false" class="" overflow-scroll="true">
		<!-- <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)"> -->
			<div class="list">
				<div class="item item-clear item-text-wrap sugdob-item text-center">
					<h2>Personalizar mi cuenta</h2>
					<p>¡Escoja su fotografía y su género para que podamos personalizar aún más su experiencia!</p>
				</div>
				<div class="item item-clear sugdob-item text-center">
					<div class="sugdob-profile-label">Elejir foto para mi perfil</div>
					<div style="margin-top:20px;">
						<img class="profile-avatar sugdob-photo-frame" ng-src="{{viewdata.profileimage}}" ng-click="ChangeProfilePic()">
					</div>
				</div>
				<div class="item item-clear sugdob-item text-center">
					<div><strong>Género</strong></div>
					<div class="row">
						<div class="col">
							<ion-radio ng-model="viewdata.profilegender" class="sugdob-gender-button" ng-value="'H'">Hombre</ion-radio>
						</div>
						<div class="col">
							<ion-radio ng-model="viewdata.profilegender" class="sugdob-gender-button" ng-value="'M'">Mujer</ion-radio>
						</div>
					</div>
				</div>
				<div class="item item-clear sugdob-item">
					<div class="button button-block sugdob-btn" ng-click="SaveAndContinue()">
						Ok, continuar
					</div>
				</div>
			</div>
		<!-- </ion-slide-box> -->

		<div class="md-modal md-effect-7" id="modal-msgbox-sugdob">
			<div class="md-content">
				<h3>{{viewdata.msgbox.title}}</h3>
				<div>
					<p>{{viewdata.msgbox.message}}</p>
					<button class="md-close">{{viewdata.msgbox.buttontext}}</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div><!-- the overlay element -->
	</ion-content>		
</ion-view>