<ion-view>
	<ion-nav-buttons side="right">
		<button class="button button-clear locationsetup-topbar-buttontext" ng-click="Skip()">
			Saltar
		</button>
	</ion-nav-buttons>	
	<ion-content id="pushnotification-content" scroll="false" class="welcome-content" overflow-scroll="true">
		<div class="item item-clear item-text-wrap">
			<strong>Servicios de Mensajes por Push</strong>
			<p>Kenuu le gustaría enviarle mensajes para ayudarle a disfrutar su experiencia.</p>
		</div>
		<div class="item item-clear text-center">
			<img src="./img/notificationssetup.jpg" style="width:70vw; height: auto; max-width:250px;">
		</div>
		<div class="item item-clear">
			<button ng-click="RegisterDevice()" class="button button-block button-light welcome-btn">Ok, continuar</button>
		</div>
	</ion-content>
</ion-view>