<ion-view id="viewSlider" class="slider-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">

    </ion-nav-title>
    <ion-nav-buttons side="right">
			<button class="button button-clear locationsetup-topbar-buttontext" ng-click="GoToLogin()">
				<span style="font-size:17px !important;" ng-bind="skipTitle"></span>
			</button>
		</ion-nav-buttons>
	<ion-content id="slider-content" scroll="false" class="slider-content" overflow-scroll="true">
		
		<!-- <div class="item text-right slider-skipbtn-container">
			<div ng-click="GoToLogin()">
				<span class="slider-skipbtn slider-skipbtn-title" ng-bind="skipTitle"></span>
				<span class="slider-skipbtn"><i class="icon ion-android-arrow-forward"></i></span>
			</div>
		</div> -->

		<ion-slide-box style="margin-top:10px;" class="slide-box" on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<div class="slider-title-div text-center">
					<h1>Bienvenido a Kenuu</h1>
					<p>Sencillo, Divertido, Rápido</p>
				</div>

				<div class="slider-main-img-div text-center">
					<img class="slider-main-img" src="./img/visite.png">
				</div>

				<div class="slider-subtitle-div text-center">		
					<p>Kenuu es el programa que premia la Lealtad en sus comercios favoritos.</p>
				</div>
				<div class="slider-animation text-center">
					<img src="./img/Swipe-Left.png" style="height:50px; width: auto;">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slider-title-div text-center">
					<h1>Kenuu</h1>
					<p>La experiencia que le da más</p>
				</div>

				<div class="slider-main-img-div text-center">
					<img class="slider-main-img" src="./img/ilus-1.png">
				</div>

				<div class="slider-subtitle-div text-center">		
					<p>Registre su visita y obtenga beneficios a través de sus pops.</p>
				</div>
				<div class="slider-animation text-center">
					<img src="./img/Swipe-Left.png" style="height:50px; width: auto;">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slider-title-div text-center">
					<h1>Kenuu</h1>
					<p>Donde vive la alegría.</p>
				</div>

				<div class="slider-main-img-div text-center">
					<img class="slider-main-img" src="./img/ilus-3.png">
				</div>

				<div class="slider-subtitle-div text-center">		
					<p>Cambie sus pops por descuentos y premios en sus comercios favoritos.</p>
				</div>
				<div class="text-center">
					<button class="button button-clear slider-ok-btn" ng-click="GoToLogin()">Ok, continuar.</button>
				</div>
			</ion-slide>
		</ion-slide-box>
		
	</ion-content>
</ion-view>