<ion-view id="viewWelcome" class="welcome-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
	<ion-content id="welcome-content" scroll="false" class="welcome-content" overflow-scroll="true">		
		<div class="item clear-item text-center welcome-main-title" style="margin-top:10px;">
			<p class="welcome-title">Bienvenido a <strong>Kenuu!!</strong></p>
		</div>
		<div class="text-center" style="width:100vw">
			<img id="welcomeimg1" src="./img/welcome-dolls.png" style="height:250px; max-width:80vw">
		</div>
		<div class="item clear-item item-text-wrap text-center welcome-main-title" style="margin-top:10px;">
			<p class="welcome-title">Dale tap acá abajo...</p>
			<button ng-click="GoToLogin()" class="button button-block button-light welcome-btn">Empecemos!</button>
		</div>
		
		<div class="md-modal md-effect-7" id="modal-msgbox">
			<div class="md-content">
				<h3>{{viewdata.msgbox.title}}</h3>
				<div>
					<p>{{viewdata.msgbox.message}}</p>
					<button class="md-close">{{viewdata.msgbox.buttontext}}</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div><!-- the overlay element -->

	</ion-content>
</ion-view>