<ion-view id="viewWelcome" class="welcome-view">
	<ion-nav-title>
        <img src="img/kenuulogo.png" alt="" class="top-bar-logo">
    </ion-nav-title>
	<ion-content id="welcome-login-content" scroll="false" class="welcome-content" overflow-scroll="true">
		<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			<form name="signUpPwdForm" novalidate ng-submit="DoLogin()">
				<div class="text-left" style="padding-left:30px; padding-right:30px; margin-top: 30px;">
					<label class="item clear-item item-input item-stacked-label" style="width:80vw;">
						<span class="input-label" style="font-size:20px;">
							Ingresa tu Password 
							<span ng-show="signUpPwdForm.signUpPassword.$error.required"><i class="ion-ios-medical" style="font-size:20px; color: red;"></i></span>
						</span>
						<input name="signUpPassword" class="kenuu-input" type="password" placeholder="contraseña" ng-model="viewdata.login.password">
					</label>
					<p class="welcome-login-pwdmessage">
						Debe contener como mínimo 8 caracteres. Al menos una mayúscula, una minúscula, carácter especial y un número. Sin espacios. Ejm: Kenuu.15
					</p>
				</div>
				<div class="item welcome-item text-center" ng-click="recoverPassword()">
					<p class="login-pwd-recovery-btn">Olvidaste tu password?</p>
				</div>
				<div class="item welcome-item text-center">
					<button class="button button-block button-light welcome-btn">Ingresar</button>
				</div>
			</form>
		</ion-slide-box>

		<div class="md-modal md-effect-7" id="modal-msgbox-login">
			<div class="md-content">
				<h3>{{viewdata.msgbox.title}}</h3>
				<div>
					<p>{{viewdata.msgbox.message}}</p>
					<button class="md-close">{{viewdata.msgbox.buttontext}}</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div><!-- the overlay element -->
	</ion-content>		
</ion-view>