<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light" style="margin-top: 1px solid red !important;">

    <!-- Whats New -->
    <!-- <ion-tab title="nuevo!" icon-off="icon-star" icon-on="icon-star" href="#/tab/whatsnew">
        <ion-nav-view name="tab-whatsnew"></ion-nav-view>
    </ion-tab> -->

    <!-- Near Me -->
    <ion-tab title="Cerca de mí" icon-off="icon-location" icon-on="icon-location" ng-click="NearMeTabClicked()">
        <ion-nav-view name="tab-nearme"></ion-nav-view>
    </ion-tab>

    <!-- Rewards Tab -->
    <!-- <ion-tab title="premios!" icon-off="icon-gift" icon-on="icon-gift" ng-click="RewardsTabClicked()">
        <ion-nav-view name="tab-rewards"></ion-nav-view>
    </ion-tab> -->

    <!-- QR Code Tab -->
    <ion-tab class="kenuu-code-tab" title="Mi código" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/tab/qrcode" style="font-weight:bold;">
        <ion-nav-view name="tab-qrcode"></ion-nav-view>
    </ion-tab>

    <!-- Kenuu Tab -->
    <ion-tab title="Mi Kenuu" ng-click="MyKenuuTabClicked()" icon-off="icon-pop-full" icon-on="icon-pop-full">
        <ion-nav-view name="tab-kenuu"></ion-nav-view>
    </ion-tab>

    <!-- Search Tab -->
    <!-- <ion-tab title="buscar" icon-off="icon-search" icon-on="icon-search" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab> -->

    <!-- Map -->
    <!-- <ion-tab title="map" icon-off="icon-location" icon-on="icon-location" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab> -->

</ion-tabs>
