@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-dmwnfi');
	src:url('../fonts/icomoon.eot?#iefix-dmwnfi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-dmwnfi') format('woff'),
		url('../fonts/icomoon.ttf?-dmwnfi') format('truetype'),
		url('../fonts/icomoon.svg?-dmwnfi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Sticker-Morado:before {
	content: "\e600";
}

.icon-barcode:before {
	content: "\e937";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-history:before {
	content: "\e94d";
}

.icon-user:before {
	content: "\e971";
}

.icon-gift:before {
	content: "\e99f";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-sad:before {
	content: "\e9e5";
}

.icon-neutral:before {
	content: "\e9f7";
}

.icon-wondering:before {
	content: "\e9fb";
}

.icon-heart:before {
	content: "\e601";
}

.icon-cloud:before {
	content: "\e602";
}

.icon-star:before {
	content: "\e603";
}

.icon-user2:before {
	content: "\e60d";
}

.icon-search:before {
	content: "\e60e";
}

.icon-settings:before {
	content: "\e604";
}

.icon-tag:before {
	content: "\e605";
}

.icon-lock:before {
	content: "\e606";
}

.icon-bulb:before {
	content: "\e607";
}

.icon-location:before {
	content: "\e608";
}

.icon-phone:before {
	content: "\e609";
}

.icon-mail:before {
	content: "\e60a";
}

.icon-like:before {
	content: "\e60b";
}

.icon-params:before {
	content: "\e60c";
}

